.gen-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #BA8B02;
    background: -webkit-linear-gradient(to right, #181818, #BA8B02);
    background: linear-gradient(to right, #181818, #BA8B02);
}


.form-container {
    border-radius: 35px;
    width: 35%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    background-color: rgba(255, 255, 255, 0.116);
    min-height: 400px;
}


.header-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
.header-form h1{
    -webkit-text-stroke: #f2be3a 2px;
}

.header-form h1 {
    font-size: 2.5rem;
    text-align: center;
}

.header-form img {
    width: 65%;
    margin-bottom: 5%;
}


.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.input-box {
    display: flex;
    position: relative;
    margin: 2%;
    align-items: center;
}

.input-box ion-icon {
    position: absolute;
    right: 15px;
}

.input-box input {
    padding: 4%;
    width: 20vw;
    border-radius: 15px;
    border: none;
}

.login-button {
    width: 15vw;
    height: 5vh;
    padding: 1%;
    border-radius: 15px;
    border: none;
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 1.25rem;
    font-weight: bold;
}
.login-button:hover{
    background-color: #f2be3a8d;
    cursor: pointer;
    color: white;
    border: solid #181818 1.5px;
}
@media only screen and (max-width: 480px){
    .form-container{
        height: 90%;
        width: 95%;
    }
    .header-form h1 {
        font-size: 2.0rem;
    }
    .input-box input {
        width: 70vw;
    }
    .login-button{
        height: 40px;
        width: 40vw;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
    .form-container{
        height: 80%;
        width: 85%;
        min-height: 700px;
    }
    .header-form h1 {
        font-size: 2.5rem;
    }
    .input-box input {
        width: 60vw;
    }
    .login-button{
        height: 50px;
        width: 35vw;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .form-container{
        height: 70%;
        width: 70%;
        min-height: 700px;
    }
    .header-form h1 {
        font-size: 2.5rem;
    }
    .input-box input {
        width: 55vw;
    }
    .login-button{
        height: 50px;
        width: 35vw;
    }

}

@media only screen and (min-width: 1025px){
    /* En caso modificar Estilos */
}