@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
}

:root {
    /* Colores de fondo */
    --login-bg: #d8b54b;
    /* Fondo para el área de inicio de sesión */
    --title-bg: #040404;
    /* Fondo para los títulos */
    --image-bg: #7a7445;
    /* Fondo para las imágenes */

    /* Colores de texto */
    --text-color: #333;
    /* Color de texto principal */
    --heading-color: #fff;
    /* Color de texto para encabezados */

    /* Colores de botones */
    --button-bg: #5f4f1f;
    /* Color de fondo para los botones */
    --button-text: #fff;
    /* Color de texto para los botones */

    /* Otros colores */
    --light-pink: #2e2207;
    /* Color de resaltado suave */
    --border-color: #999;
    /* Color del borde de elementos */
}


body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    

}